.error-summary {
  color: $error-colour;
  a {
    color: $error-colour;
  }
}

.error-hint {
  display: block;
  color: $error-colour;
}

.form-group.-errors {
  input,
  textarea {
    border-color: $error-colour;
  }
  .js-enabled & .selection-button-radio::before,
  .js-enabled & .selection-button-checkbox::before {
    border-color: $error-colour;
  }
}
