.-hanging-hint {
  input {
    float: left;
  }
  .form-hint {
    float: left;
    clear: none;
    margin: 0;
    @include media(mid) {
      padding: ($leading*1.5 + 2) 0 ($leading/2 + 2) $leading;
    }
  }
}
