#global-header {
  //@extend %block;
  @extend %contain-floats;
  border-bottom: 3px solid $nhs-blue;
  padding-top: $leading*2;
  padding-bottom: $leading;
}

.header-container {
  @extend %block;
}

.header-logo {
  display: block;
  float: left;

  img {
    display: block;
    width: 79px;
    height: 32px;
  }
}

.service-name {
  color: $dark-grey;
  line-height: 32px;
  margin-left: $leading;
}
