@import "tools/contain-floats";
@import "tools/media-queries";
@import "tools/tints";

@import "variables/colours";
@import "variables/frutiger";
//@import "variables/system";

//Typography
@import "modules/typography/base";
@import "modules/typography/headings";
@import "modules/typography/paragraphs";
@import "modules/typography/lists";
@import "modules/typography/formatting";
@import "modules/typography/links";

// Modules
@import "modules/banner/prototype";
@import "modules/controls/breadcrumbs";
@import "modules/controls/buttons";
@import "modules/data/table";
@import "modules/disclosure/details";
@import "modules/footer-global/footer";
@import "modules/forms/date";
@import "modules/forms/errors";
@import "modules/forms/fieldset";
@import "modules/forms/form";
@import "modules/forms/input";
@import "modules/forms/input-hinted";
@import "modules/forms/label";
@import "modules/forms/radio-checkbox";
@import "modules/forms/textarea";
@import "modules/gp-lookup/gp-lookup";
@import "modules/header-global/header-global";
@import "modules/header-local/header-panel-local";
@import "modules/signage/info";

@import "modules/nhsid/nhsid";

// Layout and grid
@import "modules/layout/layout";
@import "modules/layout/grid";
@import "modules/layout/spacing";
