{% extends '_layouts/layout.html' %}

{% block body_after %}
<script>
  var lookupURL = '{{ gpLookupURL }}';
</script>
<script src="/scripts/react.js"></script>
<script src="/scripts/react-dom.js"></script>
<script src="/scripts/gp-lookup/lookup.js"></script>
<script src="/scripts/gp-lookup/components.js"></script>
<script>
  $(function() {
    $('#content').on('click', '.result', function() {
      var els = ''
      els += '<input type="hidden" name="practice-name" value="' + $(this).find('h2').text() + '" />'
      els += '<input type="hidden" name="practice-address" value="' + $(this).find('.address').text() + '" />'
      $(this).append(els);
      $('#gp-results').submit();
    });
  });
</script>
{% endblock %}
