{% extends '_layouts/layout.html' %}

{% block body_after %}
<script>
  var lookupURL = '{{ gpLookupURL }}';
</script>
<script src="/scripts/react.js"></script>
<script src="/scripts/react-dom.js"></script>
<script src="/scripts/gp-lookup/lookup.js"></script>
<script src="/scripts/gp-lookup/components.js"></script>
<script>
  var submitPractice = function($el) {
    var els = ''
    els += '<input type="hidden" name="practice-name" value="' + $el.find('h2').text() + '" />'
    els += '<input type="hidden" name="practice-address" value="' + $el.find('.address').text() + '" />'
    $el.append(els);
    $('#gp-results').submit();
  }

  $(function() {
    $('#content').on('click', '.result', function() {
      submitPractice($(this));
    });
    $('html').on('keyup', '.result', function(key) {
      if (key.keyCode === 13) {
        submitPractice($(key.target));
      }
    });
  });
</script>
{% endblock %}
