{% extends '_layouts/layout.html' %}

{% block page_title %}
  Your contact details :
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="primary">Your contact details</h1>
  <form method="post" class="measure">

    <p>{{ practiceName }} may need to get in touch with you to complete your registration.</p>

    {% if error %}
      <div class="error-summary">
        <div>
          <p>{{ error }}</p>
        </div>
      </div>
    {% endif %}

    <fieldset>
      <div class="form-group">
        <label for="telephone">Phone number</label>
        <input type="tel" id="telephone" name="telephone" value="{{ session.contact.telephone }}">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="{{ session.contact.email }}">
      </div>
    </fieldset>

    <div class="form-group -controls">
      <button type="submit" class="button">Continue</button>
      {% set back = 'nhs-number' %}
      {% if session.edit == true %}
        {% set back = 'confirm-details' %}
      {% endif %}
      <a href="{{ back }}" class="button -back">Back</a>
    </div>
  </form>
{% endblock %}

{% block footer %}{% endblock %}
