{% extends '_layouts/layout.html' %}

{% block page_title %}
  Your previous address :
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}

  <h1 class="primary">What was your address?</h1>

  <form method="post" class="measure">
    <fieldset>

      {% if error.general %}
        <div class="error-summary">
          <div>
            <p>{{ error.general }}</p>
          </div>
        </div>
      {% endif %}

      <div class="form-group">
        <div>
          <label for="building">
            Flat or house number, or house name (optional)
          </label>
          <input type="text" id="building" name="building" value="{{ session.prevbuilding }}" class="-small">
        </div>
      </div>

      {% if error.postcode %}
        <div class="error-summary">
          <div>
            <p>{{ error.postcode }}</p>
          </div>
        </div>
      {% endif %}

      <div class="form-group {% if error.postcode %}-errors{% endif %}">
        <div>
          <label for="postcode">Postcode</label>
          <input type="text" id="postcode" name="postcode" value="{{ session.prevpostcode }}" class="-small">
        </div>
      </div>
    </fieldset>

    <p><a href="previous-address-manual">I’ll type in the address</a></p>

    <div class="form-group -controls">
      <button type="submit" class="button">Find address</button>
      {% set back = 'previous-address' %}
      {% if session.edit == true %}
        {% set back = 'confirm-details' %}
      {% endif %}
      <a href="{{ back }}" class="button -back">Back</a>
    </div>

  </form>
{% endblock %}
