@import url("//fast.fonts.net/cssapi/4c65968f-c33e-4eb6-9a5d-ab4f81a0543f.css");
.grid-row, .prototype-warning-inner, .footer-container, .-date, .error-summary, form, .form-group, #global-header, .signage {
  zoom: 1;
}

.grid-row:after, .prototype-warning-inner:after, .footer-container:after, .-date:after, .error-summary:after, form:after, .form-group:after, #global-header:after, .signage:after {
  content: "";
  display: block;
  clear: both;
}

/*

these should be a scale of tint: blue00, blue10...blue70....
i.e. NHS is blue50 as thats a median point, and if we add dark or light tints,
we can add other blues, named like blue40 (for a lighter blue) or blue60 for a darker blue.

*/
/*#0988E7;*/
/* #70C1FF */
/*
    colours to test:
    very light grey:F7F7F7
    very light NHS blue: EBF6FF
  */
/*#5CAEED; /* #0AC0FC; E2EEFB */
/*
56px
56px,
40px,
28px,
20px,

16px
*/
body, pre.user-input {
  font-family: "Neue Frutiger W01", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.measure {
  max-width: 34em;
}

h1, .heading-xxlarge, .primary {
  margin: 14px 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
}

@media (min-width: 500px) {
  h1, .heading-xxlarge, .primary {
    font-size: 48px;
    line-height: 56px;
  }
}

h2, .heading-xlarge, .secondary {
  margin: 0;
  padding: 14px 0 0 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}

@media (min-width: 500px) {
  h2, .heading-xlarge, .secondary {
    font-size: 32px;
    line-height: 42px;
  }
}

.smallprint {
  font-size: 16px;
  color: #666666;
}

body, pre.user-input {
  color: #0b0c0c;
}

.baseline {
  background-image: -webkit-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: -moz-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: -o-linear-gradient(top, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(to bottom, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 14px;
}

/* remove undelines for a tags used as anchors */
h1 a, .heading-xxlarge a, .primary a,
h2 a, .heading-xlarge a, .secondary a,
h3 a, .heading-large a,
h4 a, .heading-body a,
h5 a,
h6 a {
  text-decoration: none;
}

p {
  margin: 28px 0 28px 0;
}

pre.user-input {
  font-size: inherit;
}

ul, ol {
  margin: 14px 0 28px 0;
  padding-left: 1em;
  letter-spacing: 0.01em;
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  margin: 0 0 14px 0;
  padding-left: 0;
}

ul.link-list {
  list-style-type: none;
  padding: 0;
}

a {
  color: #0072c6;
  text-decoration: underline;
}

a:hover {
  color: #66B0E8;
}

a:visited {
  color: #4c2c92;
}

body, pre.user-input {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.prototype-warning-inner, .footer-container, #global-header,
.content {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 980px) {
  .prototype-warning-inner, .footer-container, #global-header,
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}

.content {
  padding-top: 28px;
}

@media (min-width: 640px) {
  .f-right {
    float: right;
  }
}

.grid-row {
  display: block;
  margin-left: -1.7%;
  margin-right: -1.7%;
}

.grid-row [class*='grid-'] {
  margin-left: 1.7%;
  margin-right: 1.7%;
}

.grid-1-2 {
  width: 96.6%;
}

@media (min-width: 640px) {
  .grid-1-2 {
    width: 46.6%;
    float: left;
  }
}

.grid-1-3 {
  width: 96.6%;
}

@media (min-width: 640px) {
  .grid-1-3 {
    width: 29.9%;
    float: left;
  }
}

.grid-2-3 {
  width: 96.6%;
}

@media (min-width: 640px) {
  .grid-2-3 {
    width: 63.2666%;
    float: left;
  }
}

.grid-1-4 {
  width: 21.6%;
  float: left;
}

.grid-3-4 {
  width: 71.6%;
  float: left;
}

.grid-1-6 {
  width: 13.2666%;
  float: left;
}

.grid-1-12 {
  width: 4.9333%;
  float: left;
}

.grid-5-12 {
  width: 96.6%;
}

@media (min-width: 640px) {
  .grid-5-12 {
    width: 38.2665%;
    float: left;
  }
}

.grid-7-12 {
  width: 54.9331%;
  float: left;
}

.grid-10-12 {
  width: 79.933%;
  float: left;
}

.grid-11-12 {
  width: 88.2663%;
  float: left;
}

.grid-row [class*='grid-'] {
  /*background-color: #eee;*/
}

.grid-row [class*='grid-'] > :first-child {
  margin-top: 0;
}

.shunt {
  margin-top: 28px;
}

.shunt-2 {
  margin-top: 56px;
}

.prototype-warning {
  background-color: #425563;
  color: #d9e1e2;
  font-size: 16px;
}

.prototype-warning-inner {
  padding-bottom: 7px;
  padding-top: 7px;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 42px;
  width: 100%;
  padding: 0 28px;
  margin: 0 0 14px 0;
  text-align: center;
  color: #fff;
  background-color: #3E8117;
  cursor: pointer;
  border: 1px solid #3E8117;
  -webkit-appearance: none;
}

.button:link, .button:hover, .button:focus, .button:visited {
  text-decoration: none;
  color: #fff;
  background-color: #3E8117;
}

@media (min-width: 500px) {
  .button {
    width: auto;
    margin: 0 14px 0 0;
  }
}

.button.-back {
  background-color: transparent;
  border: transparent;
  border-left: 0;
  padding-left: 0;
  color: #425563;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
}

.button.-back::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #425563;
}

.button.-secondary {
  background-color: #e6f1f9;
  border-color: #cce3f4;
  color: #231f20;
  font-weight: 400;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #d9e1e2;
  margin-bottom: 28px;
}

table th, table td {
  text-align: left;
  vertical-align: top;
  padding: 14px 7px;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid #d9e1e2;
}

table th {
  color: #425563;
}

table .control {
  text-align: right;
}

table .control .button {
  padding: 14px;
  margin-right: 0;
  line-height: 14px;
}

table.natural {
  width: auto;
}

table.compact th, table.compact td {
  padding: leading/2;
}

details {
  margin: 28px 0;
}

details summary {
  text-decoration: underline;
}

html {
  background-color: #d9e1e2;
}

#global-footer {
  margin-top: 56px;
  padding-top: 14px;
  padding-bottom: 14px;
  min-height: 80px;
  border-top: 1px solid #cbd6d7;
  background-color: #d9e1e2;
}

.footer-container {
  padding-bottom: 7px;
  padding-top: 7px;
}

.footer-container img {
  display: block;
  width: 79px;
  height: 32px;
}

.-date div {
  float: left;
  padding-right: 1em;
}

.-date .day,
.-date .month {
  width: 3em;
}

.-date .year {
  width: 4em;
}

.error-summary {
  margin: 28px 0;
}

.error-summary > div {
  float: left;
  border-top: 2px solid #D81E05;
  background-color: #fbe9e6;
  padding: 0 28px;
  color: #a61704;
}

.error-summary a {
  color: #a61704;
}

.error-hint {
  display: block;
  color: #D81E05;
}

.form-group.-errors input,
.form-group.-errors textarea {
  border-color: #D81E05;
}

.js-enabled .form-group.-errors .selection-button-radio::before,
.js-enabled .form-group.-errors .selection-button-checkbox::before {
  border-color: #D81E05;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0 0 28px 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset, pre.user-input:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

fieldset legend {
  padding: 0;
  display: table;
}

form {
  display: block;
}

.form-group.-controls {
  margin: 14px 0;
}

@media (min-width: 500px) {
  .form-group.-controls {
    float: left;
  }
}

@media (min-width: 500px) {
  .form-group.-controls .button {
    float: right;
  }
}

input[type='text'],
input[type='number'],
input[type='tel'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 14px 0 28px 0;
  padding: 7px;
  border: 2px solid #0072c6;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 28px;
}

@media (min-width: 500px) {
  input[type='text'],
  input[type='number'],
  input[type='tel'] {
    width: 75%;
  }
}

input[type='text']:focus,
input[type='number']:focus,
input[type='tel']:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 5px #F7E214;
  -moz-box-shadow: 0 0 0 5px #F7E214;
  box-shadow: 0 0 0 5px #F7E214;
}

input[type='text'].-small,
input[type='number'].-small,
input[type='tel'].-small {
  width: 8em;
}

label {
  display: block;
  width: 100%;
  font-weight: 400;
}

.form-hint {
  display: block;
  clear: both;
  margin: 14px 0 28px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #5C6770;
}

label .form-hint {
  margin: 7px 0 0 0;
}

.primary {
  margin-top: 0;
  display: block;
}

.secondary {
  font-weight: 400;
  display: block;
}

.block-label-legend {
  display: block;
  width: 100%;
  font-weight: bold;
}

.block-label {
  display: block;
  position: relative;
  width: auto;
  padding: 7px 0 7px 50px;
  margin: 14px 0;
  cursor: pointer;
}

@media (min-width: 500px) {
  .block-label {
    float: left;
    clear: both;
  }
}

.block-label input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
}

.js-enabled .block-label input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .block-label.selection-button-radio::before {
  content: "";
  border: 3px solid #0072c6;
  border-radius: 50%;
  background: #fff;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.js-enabled .block-label.selection-button-radio::after {
  content: "";
  border-radius: 50%;
  background: currentColor;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.js-enabled .block-label.selection-button-checkbox::before {
  content: "";
  border: 3px solid #0072c6;
  background: #fff;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.js-enabled .block-label.selection-button-checkbox::after {
  content: "";
  border: solid;
  border-width: 0 0 5px 5px;
  background: transparent;
  width: 17px;
  height: 7px;
  position: absolute;
  top: 11px;
  left: 9px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.js-enabled .block-label.selection-button-radio.focused::before, .js-enabled .block-label.selection-button-checkbox.focused::before {
  -webkit-box-shadow: 0 0 0 5px #F7E214;
  -moz-box-shadow: 0 0 0 5px #F7E214;
  box-shadow: 0 0 0 5px #F7E214;
}

.js-enabled .block-label.selection-button-radio.selected::after, .js-enabled .block-label.selection-button-checkbox.selected::after {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 14px 0 28px 0;
  padding: 7px;
  border: 2px solid #0072c6;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 28px;
  background-image: -webkit-linear-gradient(top, #d9e1e2 0, rgba(255, 255, 255, 0) 1px);
  background-image: -moz-linear-gradient(top, #d9e1e2 0, rgba(255, 255, 255, 0) 1px);
  background-image: -o-linear-gradient(top, #d9e1e2 0, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(to bottom, #d9e1e2 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 28px;
}

@media (min-width: 500px) {
  textarea {
    width: 75%;
  }
}

textarea:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 5px #F7E214;
  -moz-box-shadow: 0 0 0 5px #F7E214;
  box-shadow: 0 0 0 5px #F7E214;
}

#global-header {
  border-bottom: 3px solid #0072c6;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header-logo {
  display: block;
  float: left;
}

.header-logo img {
  display: block;
  width: 79px;
  height: 32px;
}

.service-name {
  color: #425563;
  line-height: 32px;
  margin-left: 14px;
}

.signage {
  margin: 28px 0;
}

.signage > div {
  float: left;
  padding: 0 28px;
}

.info {
  border-top: 2px solid #425563;
  background-color: #eceeef;
}

.message {
  border-top: 2px solid #F7E214;
  background-color: #fefce8;
  color: #6e6404;
}
