.signage {
  @extend %contain-floats;
  margin: $leading*2 0;

  & > div {
    float: left;
    padding: 0 $leading*2;
  }
}

.info {
  border-top: 2px solid $dark-grey;
  background-color: tint($dark-grey, 90);
}

.message {
  border-top: 2px solid $yellow;
  background-color: tint($yellow, 90);
  color: darken($yellow, 30);
}

.completion {
  border-top: 2px solid $light-green;
  background-color: tint($light-green, 90);
}
