<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    {% block html_head %}{% endblock %}
  </head>

  <body class="{% block body_css_classes %}{% endblock %}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% include '_includes/prototype-warning.html' %}

    {% block header_before %}{% endblock %}

    {% include '_includes/masthead.html' %}

    <main id="content" role="main" class="content">
      {% block content %}{% endblock %}
    </main>

    <footer role="contentinfo">
      {% block footer %}{% endblock %}
    </footer>

    <!-- scripts etc -->
    {% block body_after %}{% endblock %}

  </body>

</html>
