.breadcrumb {
  @extend %contain-floats;

  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;

  li {
    float: left;
  }

  li.selected {
    display: none;
    font-size: 16px;
    line-height: 24px;
    margin-top:12px;
    padding-left: $leading/4;

    @include media(mid) {
      display: block;
    }
  }

  .button {
    margin-bottom: 0;
  }
}
