.header-panel {
  color: $white;
  background-color: $nhs-blue;
  padding: $leading*2 $leading $leading $leading;
  margin-bottom: 32px;

  @include media(mid) {
    padding: $leading*3 $leading*2 $leading*2 $leading*2;
  }

  .header {
    margin-bottom: $leading*2;
  }

  .precis {
    font-weight: $lightweight;
  }
}

.content-seperator {
  width: 130px;
  height: $leading/4;
  background-color: tint($nhs-blue, 20%);
}
