table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid $pale-grey;
  margin-bottom: $leading*4;

  caption {
    @extend h2;

    font-weight: normal;
    text-align: left;
    padding: 0 $leading/2 $leading $leading/2;
  }

  th, td {
    padding: $leading/2 $leading/8;

    text-align: left;
    vertical-align: top;

    font-weight: $bodyweight;
    font-size: $smallprint;

    border-bottom: 1px solid $pale-grey;

    @include media(mid) {
      display: table-cell;
      padding: $leading $leading/2;
    }
  }

  th {
    color: $dark-grey;
  }

  .control {
    text-align: right;

    .button {
      padding: $leading;
      margin-right: 0;
      line-height: $leading;
    }
  }

  &.natural {
    width: auto;
  }

  &.compact {
    margin-bottom: $leading;

    th, td {
      padding: leading/2;
    }
  }

}
