{% extends '_layouts/layout.html' %}

{% block page_title %}
  Check your answers :
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block html_head %}
  <meta name="format-detection" content="telephone=no">
{% endblock %}

{% block content %}

<!--

  {% if session.currentgp.registered == 'yes' %}
  <div class="grid-row">
    <div class="grid-1-2">
      <h3>From:</h3>
      <p>
        {{ session.currentgp.name }}<br>
        {% for line in session.currentgp.address %}
          {{ line }}<br>
        {% endfor %}
      </p>
    </div>

    <div class="grid-1-2">
      <h3>To:</h3>
      <p>
        {{ practiceName }}<br>
        {% for line in practiceAddress %}
          {{ line }}<br>
        {% endfor %}
        {{ practicePostcode | upper }}
      </p>
    </div>
  </div>
  {% endif %}

-->

  <h1 class="primary">
    <span class="heading-prefix">Part 2 of 2</span>
    Confirm registration application
  </h1>

  <div class="measure">
    <h2>Register with</h2>
    <p>
      {{ practiceName }}<br>
      {% for line in practiceAddress %}
        {{ line }}<br>
      {% endfor %}
      {{ practicePostcode | upper }}
    </p>

    <h2>With these details</h2>
  </div>

  <table class="measure">
    <tr>
      <th scope="row">Name</th>
      <td>{{ session.name.firstName | title }} {{ session.name.middleNames | title }} {{ session.name.lastName | title }}</td>
    </tr>

    <tr>
      <th scope="row">Date of birth</th>
      <td>{{ session.dob.day }} {{ session.dob.month | date("MMMM") }} {{ session.dob.year }}</td>
    </tr>

    <tr>
      <th scope="row">Email</th>
      <td>
        {{ session.contact.email }}
      </td>
    </tr>

    <tr>
      <th scope="row">Telephone</th>
      <td>
        {% if session.contact.telephone != '' %}
          {{ session.contact.telephone }}
        {% else %}
          I’m not providing a telephone number
        {% endif %}
      </td>
    </tr>

    <tr>
      <th scope="row">Address</th>
      <td>
        {% for line in session.homeAddress.address %}
          {% if line != '' %}
            {{ line }}<br>
          {% endif %}
        {% endfor %}
        {{ session.homeAddress.postcode | upper }}
      </td>
    </tr>

    {% if not session.armedforces or session.armedforces.leaving == 'no' %}
    <tr>
      <th scope="row">Armed forces</th>
      <td>I’m not returning from the armed forces</td>
    </tr>
    {% endif %}
  </table>

  {% if session.armedforces.leaving == 'yes' %}
    <table class="measure">
      <caption>Your service in the armed forces</caption>
      <tr>
        <th scope="row">Armed forces</th>
        <td>I’m returning from the armed forces</td>
      </tr>
      <tr>
        <th scope="row">Service number</th>
        <td>
          {% if session.armedforces.serviceno != '' %}
            {{ session.armedforces.serviceno }}
          {% else %}
            I’m not supplying my service number
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Enlistment date</th>
        <td>
          {% if session.armedforces.enlistment.year != '' %}
            {{ session.armedforces.enlistment.day }} {{ session.armedforces.enlistment.month | date("MMMM") }} {{ session.armedforces.enlistment.year }}
          {% else %}
            I’m not supplying my enlistment date
          {% endif %}
        </td>
      </tr>
    </table>
  {% endif %}

  <table class="measure">
    <caption>Your current GP</caption>
    <tr>
      <th scope="row">Current GP</th>
      <td>
        {% if session.currentgp.registered == 'yes' %}
          {% if session.currentgp.name != '' %}
            {{ session.currentgp.name }}<br>
          {% endif %}
          {% if session.currentgp.address != '' %}
            {% for line in session.currentgp.address %}
              {{ line }}<br>
            {% endfor %}
          {% endif %}
        {% endif %}

        {% if session.currentgp.registered == 'no' %}
          I’m not registered with a GP
        {% endif %}
      </td>
    </tr>

    {% if session.currentgp.registered == 'yes' %}
      <tr>
        <th scope="row">Registered name</th>
        <td>
          {% if session.name.nameChanged == "no" %}
            I’m not registered with a different name
          {% endif %}
          {% if session.name.nameChanged === 'yes' %}
            {{ session.name.previousFirstName | title }} {{ session.name.previousMiddleNames | title }} {{ session.name.previousLastName | title }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Registered address</th>
        <td>
          {% if session.prevaddress == 'yes' %}
            {% for line in session.prevAddress %}
              {% if line != '' %}
                {{ line }}<br>
              {% endif %}
            {% endfor %}
            {{ session.prevpostcode | upper }}
          {% endif %}
          {% if session.prevaddress == 'no' %}
            I’m not registered with a different address
          {% endif %}
        </td>
      </tr>
    {% endif %}
  </table>

  <div class="form-group -controls shunt-2">
    <button type="submit" class="button">Continue</button>
    {% set back = 'nhsid-confirm-details' %}
    <a href="{{ back }}" class="button -back">Back</a>
  </div>

{% endblock %}
