{% extends '_layouts/layout.html' %}

{% block page_title %}
  Your telephone number :
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}

  {% include "_includes/section-indicator-1.html" %}

  <form method="post" class="measure">

    <h1 class="primary">
      <label for="telephone">
        What is your telephone number?
      </label>
    </h1>

    <div class="form-group">
      <input autocomplete="off" type="tel" id="telephone" name="telephone" value="{{ session.contact.telephone }}" style="float: left;">
    </div>

    <details>
      <summary>Why should I provide a telephone number?</summary>
      <div class="signage">
        <div class="info">
          <p>
            {{ practiceName }} may need to get in touch with you to complete your registration.
          </p>
        </div>
      </div>
    </details>

    <div class="form-group -controls">
      <button type="submit" class="button">Continue</button>
      {% set back = 'contact-email' %}
      {% if session.edit != false %}
        {% set back = 'check-your-answers' %}
      {% endif %}
      <a href="{{ back }}" class="button -back">Back</a>
    </div>
  </form>
{% endblock %}

{% block footer %}{% endblock %}
