{% extends '_layouts/layout.html' %}

{% block page_title %}
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}


  <div class="measure">

    <h2 class="h1">
      <span class="heading-prefix">Part 2</span>
      About your health
    </h2>

    <p>
      Thank you for completing part one.
    </p>
    <p>
      Next you’ll be asked questions about any allergies, medication and your general
      health.
    </p>
    <p>
      This is to help {{ practiceName }} understand your needs.
    </p>

    <div class="content-seperator"></div>

    <div class="cta shunt">
      <a href="current-medication" class="button">Continue</a>
    </div>

  </div>

{% endblock %}

{% block footer %}{% endblock %}
