{% extends '_layouts/layout.html' %}

{% block page_title %}
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="grid-row">
    <div class="grid-3-3">
      <ol class="breadcrumb">
        <li><a href="#" class="button -bordered -small">GP practices</a></li>
        <li><a href="#" class="button -bordered -small">{{ practiceName }}</a></li>
        <li class="selected">Registration</li>
      </ol>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-3-3">
      <div class="header-panel">
        <h1 class="header">
          Apply to register with {{ practiceName }}
        </h1>
      </div>
    </div>
  </div>


  <div class="measure">

    <p>This application is made up of two parts.</p>

    <div class="content-seperator"></div>

    <h2 class="h1 shunt">
      <span class="heading-prefix">Part 1</span>
      Your details
    </h2>

    <h3 class="body p">You’ll be asked for information about yourself including:</h3>

    <ul>
      <li>the GP you’re currently registered with if you have one</li>
      <li>the name and address under which you’re registered with your current
        GP (if they’re different)</li>
      <li>
        <details class="-inline">
          <summary>your <span class="details-cta">NHS number</span> if you know it</summary>
          <div class="signage">
            <div class="info">
              <p>
                An NHS number is 10 digits, for example <b>943 476 5919</b>
              </p>
              <p>You can find your NHS number:</p>
              <ul>
                <li><a href="javascript:return false;">online</a></li>
                <li>on a printed prescription</li>
                <li>on a letter from your GP or a hospital</li>
                <li>on your NHS medical card if you have one</li>
              </ul>
            </div>
          </div>
        </details>
      </li>
    </ul>

    <p>
      This is to help {{ practiceName }} find your medical records.
    </p>

    <div class="content-seperator"></div>

    <h2 class="h1 shunt">
      <span class="heading-prefix">Part 2</span>
      About your health
    </h2>

    <p>
      You’ll be asked questions about any allergies, medication and your general
      health.
    </p>
    <p>
      This is to help {{ practiceName }} understand your needs.
    </p>

    <div class="content-seperator"></div>

    <div class="cta shunt">
      <a href="name" class="button">Start</a>
    </div>

  </div>

{% endblock %}

{% block footer %}{% endblock %}
