{% extends '_layouts/layout.html' %}

{% block page_title %}
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="grid-row">
    <div class="grid-3-3">
      <ol class="breadcrumb">
        <li><a href="#" class="button -bordered -small">GP practices</a></li>
        <li><a href="#" class="button -bordered -small">{{ practiceName }}</a></li>
        <li class="selected">Registration</li>
      </ol>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-3-3">
      <div class="header-panel">
        <h1 class="h2 header">
          Apply to register with {{ practiceName }}
        </h1>
        <div class="content-seperator"></div>
        <p class="h3 precis">There are two parts for you to complete.</p>
      </div>
    </div>
  </div>


  <div class="measure">

    <h2>
      <span class="heading-prefix">Part 1</span>
      Your details
    </h2>

    <h3>You’ll need to provide:</h3>

    <ul>
      <li>your name and date of birth</li>
      <li>your address and contact details</li>
    </ul>

    <h3>You’ll also be asked for:</h3>

    <ul>
      <li>the GP you’re currently registered with if you have one</li>
      <li>the name and address under which you’re registered with your current
        GP (if they’re different)</li>
      <li>your military service number (if you have one) and enlistment date</li>
      <li>your NHS number if you know it</li>
    </ul>

    <p>
      This is to help {{ practiceName }} find your medical records.
    </p>

    <details>
      <summary>How to find your NHS number</summary>
      <div class="signage">
        <div class="info">
          <p>
            An NHS number is a 10 digit number, for example: <b>943 476 5919</b>
          </p>
          <p>You can find your NHS number:</p>
          <ul>
            <li><a href="javascript:return false;">online</a></li>
            <li>on a printed prescription</li>
            <li>on a letter from your GP or a hospital</li>
            <li>on your NHS medical card if you have one</li>
          </ul>
        </div>
      </div>
    </details>

    <div class="content-seperator"></div>

    <h2 class="shunt">
      <span class="heading-prefix">Part 2</span>
      About your health
    </h2>

    <p>
      You’ll be asked to fill in a health questionnaire which will ask about
      any allergies, medication and your general health.
    </p>

    <p>
      This is to help {{ practiceName }} DO SOMETHING.
    </p>

    <div class="content-seperator"></div>

    <div class="cta shunt">
      <a href="name" class="button">Start</a>
    </div>

  </div>

{% endblock %}

{% block footer %}{% endblock %}
