.gp-local-header {
  display: inline-block;
  & > h1 {
    display: inline-block;
    margin-right: $leading;
  }
}

.gp-list {
  display: inline-block;
  font-size: $smallprint;
}

.status {
  display: inline-block;
  padding: 0 $leading/2;
  &.-open {
    border: 2px solid tint($light-green, 75);
  }
}

.map {
  width: 100%;
  height: 200px;
  margin: $leading 0 $leading*2 0;
  border: 2px solid tint($pale-grey, 50);

  @include media(mid) {
    height: 400px;
  }
}
