{% extends '_layouts/layout.html' %}

{% block page_title %}
  Check your answers :
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="primary">Check your answers</h1>

  <table class="measure">
    <tr>
      <th scope="row">Your name</th>
      <td>{{ session.name.firstName | title }} {{ session.name.middleNames | title }} {{ session.name.lastName | title }}</td>
      <td class="control">
        <a href="name" class="button -secondary">Change</a>
      </td>
    </tr>

    <tr>
      <th scope="row">Have you ever changed your name?</th>
      <td>
        {% if session.name.nameChanged == "no" %}
          No, I have not
        {% endif %}
        {% if session.name.nameChanged == "not-saying" %}
          I’d prefer not to say
        {% endif %}
        {% if session.name.nameChanged == "yes" %}
          Yes, I have<br>
          {{ session.name.firstNamePrev | title }} {{ session.name.middleNamesPrev | title }} {{ session.name.lastNamePrev | title }}
        {% endif %}
      </td>
      <td class="control">
        <a href="name" class="button -secondary">Change</a>
      </td>
    </tr>

    <tr>
      <th scope="row">Your date of birth</th>
      <td>{{ session.dob.day }} / {{ session.dob.month }} / {{ session.dob.year }}</td>
      <td class="control">
        <a href="date-of-birth" class="button -secondary">Change</a>
      </td>
    </tr>

    <tr>
      <th scope="row">Your home address</th>
      <td>
        {% for line in session.address %}
          {% if line != '' %}
            {{ line }}<br>
          {% endif %}
        {% endfor %}
        {{ session.postcode | upper }}
      </td>
      <td class="control">
        <a href="home-address" class="button -secondary">Change</a>
      </td>
    </tr>

    <tr>
      <th scope="row">Your contact details</th>
      <td>
        {% if session.contact.telephone != '' %}
          Telephone: {{ session.contact.telephone }}<br>
        {% endif %}
        {% if session.contact.mobile != '' %}
          Mobile: {{ session.contact.mobile }}<br>
        {% endif %}
        {% if session.contact.email != '' %}
          Email: {{ session.contact.email }}<br>
        {% endif %}
      </td>
      <td class="control">
        <a href="contact-details" class="button -secondary">Change</a>
      </td>
    </tr>

    <tr>
      <th scope="row">Your NHS number</th>
      <td>
        {% if session.nhsnumber.known == 'yes' %}
          {{ session.nhsnumber.number }}
        {% else %}
          I don’t know my NHS number
        {% endif %}
      </td>
      <td class="control">
        <a href="nhs-number" class="button -secondary">Change</a>
      </td>
    </tr>

    <tr>
      <th scope="row">Your current GP</th>
      <td>
        {% if session.currentgp.registered == 'yes' %}
          {% if session.currentgp.name != '' %}
            {{ session.currentgp.name }}<br>
          {% endif %}
          {% if session.currentgp.address != '' %}
            <pre class="user-input">{{ session.currentgp.address }}</pre>
          {% endif %}
        {% endif %}

        {% if session.currentgp.registered == 'no' %}
          I’m not registered with a GP
        {% endif %}
      </td>
      <td class="control">
        <a href="current-gp" class="button -secondary">Change</a>
      </td>
    </tr>

    <tr>
      <th scope="row">Your previous address</th>
      <td>
        {% if session.prevaddress == 'yes' %}
          {% for line in session.prevAddress %}
            {% if line != '' %}
              {{ line }}<br>
            {% endif %}
          {% endfor %}
          {{ session.prevpostcode | upper }}
        {% endif %}
        {% if session.prevaddress == 'no' %}
          I’m not providing a previous address
        {% endif %}
      </td>
      <td class="control">
        <a href="previous-address" class="button -secondary">Change</a>
      </td>
    </tr>
  </table>

  <div class="shunt-2">
    <a href="registration-submitted" class="button">Send my application</a>
  </div>

{% endblock %}
