{% extends '_layouts/layout.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block content %}
  <form method="post">
    <fieldset>
      <legend class="primary">
        What is your date of birth?
      </legend>

      {% if error %}
        <div class="error-summary">
          <div>
            <p>{{ error }}</p>
          </div>
        </div>
      {% endif %}

      <div class="form-group -date {% if error %}-errors{% endif %}">
        <div>
          <label for="dob-day">Day</label>
          <input type="text" id="dob-day" name="dob-day" value="{{ dob.day }}" class="day" maxlength="2">
        </div>
        <div>
          <label for="dob-month">Month</label>
          <input type="text" id="dob-month" name="dob-month" value="{{ dob.month }}" class="month" maxlength="2">
        </div>
        <div>
          <label for="dob-year">Year</label>
          <input type="text" id="dob-year" name="dob-year" value="{{ dob.year }}" class="year" maxlength="4">
        </div>
        <p class="form-hint">
          For example: 31/12/1980
        </p>
      </div>
    </fieldset>

    <div class="form-group -controls">
      <button type="submit" class="button">Continue</button>
      <a href="name" class="button -back">Back</a>
    </div>

  </form>
{% endblock %}

{% block footer %}{% endblock %}
