{% extends '_layouts/layout.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block content %}
  <h1 class="primary">What is your NHS number?</h1>

  <form method="post">

    {% if error %}
      <div class="error-summary">
        <div>
          <p>{{ error }}</p>
        </div>
      </div>
    {% endif %}

    <fieldset>
      <div class="form-group">
        <label for="nhs-number">NHS number</label>
        <input type="text" id="nhs-number" name="nhs-number" value="{{ nhsnumber.number }}" class="-small">
      </div>
      <p class="form-hint">
        For example: 943 476 5919
      </p>
    </fieldset>

    <div class="form-group -controls">
      <button type="submit" class="button">Continue</button>
      <a href="nhs-number" class="button -back">Back</a>
    </div>

  </form>
{% endblock %}

{% block footer %}{% endblock %}
