{% extends '_layouts/layout.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block content %}

  <h1 class="primary">Do you know your NHS number?</h1>

  <form method="post">
    <fieldset>

      {% if error %}
        <div class="error-summary">
          <div>
            <p>{{ error }}</p>
          </div>
        </div>
      {% endif %}

      <div class="form-group {% if error %}-errors{% endif %}">
        <label for="nhs-number-yes" class="block-label">
          Yes
          <input type="radio" id="nhs-number-yes" name="nhs-number-known" value="yes" {% if nhsnumber.known == "yes" %}checked="checked"{% endif %}>
        </label>
      </div>

      <div class="form-group {% if error %}-errors{% endif %}">
        <label for="nhs-number-no" class="block-label">
          No
          <input type="radio" id="nhs-number-no" name="nhs-number-known" value="no" {% if nhsnumber.known == "no" %}checked="checked"{% endif %}>
        </label>
      </div>
    </fieldset>

    <div class="form-group -controls">
      <button type="submit" class="button">Continue</button>
      <a href="contact-details" class="button -back">Back</a>
    </div>

  </form>

  <details>
    <summary>Where can I find my NHS number?</summary>
    <div class="signage">
      <div class="info">
        <p>
          An NHS number is a 10 digit number, for example: <b>943 476 5919</b>
        </p>
        <p>You can find your NHS number on:</p>
        <ul>
          <li>your NHS medical card if you have one</li>
          <li>a letter from your GP or a hospital</li>
          <li>a printed prescription</li>
        </ul>
      </div>
    </div>
  </details>
{% endblock %}

{% block footer %}{% endblock %}
