{% extends '_layouts/layout.html' %}

{% block page_title %}
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="measure">

    <h1>Your details have been sent to {{ practiceName }} and you’ll get an email confirming this.</h1>

    <h2>What happens next?</h2>

    <p>Your new GP will send a letter or email confirming that you’re registered with them. This can take 7 days.</p>

    <p>If you need to book an appointment phone your GP.</p>

    <h3>Sign up for blood and organ donation</h3>

    <p>You can help those who need a <a href="#">blood</a> or <a href="#">organ donation.</a></p>

  </div>
{% endblock %}

{% block footer %}{% endblock %}
