{% extends '_layouts/layout.html' %}

{% block page_title %}
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="primary">
    {% if practiceName %}
      Register with {{ practiceName }}
    {% else %}
      {{serviceName}}
    {% endif %}
  </h1>

  <p>You can use this service to register with a GP in England.</p>

  <!--
  <p>You will need:</p>

  <ul>
    <li></li>
  </ul>
  -->
  <!--
  <div>
    Your rights?
  </div>
  <div>
    GP rights?
  </div>
  -->

  <div class="cta">
    <a href="name" class="button">Start</a>
  </div>

{% endblock %}

{% block footer %}{% endblock %}
