.nhsid-container {
  @extend %contain-floats;
  margin: $leading*2 auto;
  padding: $leading*4 0 0 0;
  background: $nhs-blue url('/images/nhs-logotype-blue.svg') no-repeat $leading $leading;
  background-size: 70px;

  @include media(mid) {
    max-width: 480px;
  }

  & > div {
    background-color: tint($nhs-blue, 95);
    padding: $leading*2 $leading*2 $leading $leading*2;
  }

  input[type='text'],
  input[type='password'] {
    width: 100%;
  }

  .nhsid-secondary-controls {
    clear: both;
    border-top: 1px solid tint($nhs-blue, 85);
    margin-top: $leading*2;
    padding-top: $leading;
    font-size: $smallprint;
    line-height: 1.5;
  }
}
