{% extends '_layouts/layout.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block content %}
  <h1>Prototypes</h1>
  <h2>Vision</h2>
  <ul>
    <li>
      <p>
        <a href="/vision-v1/gp-details">Vision, v1</a><br>
        See <a href="https://github.com/nhsuk/register-with-a-gp-design/blob/master/Register%20interaction%20flow/register-flow-v2.1.1.pdf">register-flow-v2.1.1</a>
      </p>
    </li>
  </ul>
  <h2>Proposition</h2>
  <ul>
    <li>
      <p>
        <a href="/mvp-v1.3/gp-details">MVP, v1.3</a><br>
        See <a href="https://github.com/nhsuk/register-with-a-gp-design/blob/master/Register%20interaction%20flow/register-flow-v2.1.1.pdf">register-flow-v2.1.1</a><br>
        (GP details page included for lab on 5th January 2017)
      </p>
    </li>
    <li>
      <p>
        <a href="/mvp-v1.2/choices">MVP, v1.2</a><br>
        See <a href="https://github.com/nhsuk/register-with-a-gp-design/blob/master/Register%20interaction%20flow/register-flow-v2.1.1.pdf">register-flow-v2.1.1</a>
      </p>
    </li>
    <li>
      <p>
        <a href="/mvp-v1.1/start">MVP, v1.1</a><br>
        See <a href="https://github.com/nhsuk/register-with-a-gp-design/blob/master/Register%20interaction%20flow/register-flow-v2.1.pdf">register-flow-v2.1</a>
      </p>
    </li>
    <li>
      <p>
        <a href="/mvp-v1/start">MVP, v1.0</a><br>
        Initial proposition, minimum viable product
      </p>
    </li>
  </ul>
  <h2>User receipt email</h2>
  <ul>
    <li>
      <p>
        <a href="/emails/user-email">User email receipt, v1</a>
      </p>
    </li>
  </ul>
  <h2>Research triggers</h2>
  <ul>
    <li>
      <p>
        <a href="/v1.1/start">GMS1 form, v1.1</a><br>
        Added GP lookup functionality<br>
        Reduced hinting where it was duplicated
      </p>
    </li>
    <li>
      <p>
        <a href="/v1/start">GMS1 form, v1.0</a><br>
        GMS1 form translated into online journey
      </p>
    </li>
  </ul>
{% endblock %}

{% block footer %}{% endblock %}
