{% extends '_layouts/layout.html' %}

{% block page_title %}
  Do you have any allergies? :
  {% if practiceName %}
    Register with {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}

  <h1 class="primary">Do you have any allergies?</h1>

  <form method="post" class="measure">
    <fieldset>

      {% if error %}
        <div class="error-summary">
          <div>
            <p>{{ error }}</p>
          </div>
        </div>
      {% endif %}

      <div class="form-group {% if error %}-errors{% endif %}">
        <label for="allergies-yes" class="block-label">
          Yes
          <input type="radio" id="allergies-yes" name="allergies" value="yes" {% if session.health.allergies == "yes" %}checked="checked"{% endif %}>
        </label>
      </div>

      <div class="form-group {% if error %}-errors{% endif %}">
        <label for="allergies-no" class="block-label">
          No
          <input type="radio" id="allergies-no" name="allergies" value="no" {% if session.health.allergies == "no" %}checked="checked"{% endif %}>
        </label>
      </div>
    </fieldset>

    <div class="form-group -controls">
      <button type="submit" class="button">Continue</button>
      {% set back = 'current-medication' %}
      {% if session.health.medication === 'yes' %}
        {% set back = 'current-medication-details' %}
      {% endif %}
      {% if session.edit == true %}
        {% set back = 'confirm-details' %}
      {% endif %}
      <a href="{{ back }}" class="button -back">Back</a>
    </div>

  </form>
{% endblock %}
